body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #80b0e1, #c3d6ea);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

/* Adjust the size of the background images */
.background img {
  position: absolute;
  width: 200px; /* Adjust image size */
  height: auto;
  opacity: 0.4; /* Slight transparency */
  animation: move 15s linear infinite;
  z-index: -1;
}

.background img:nth-child(1) {
  top: 15%;
  left: 5%;
  animation-duration: 20s;
}

.background img:nth-child(2) {
  top: 40%;
  left: 70%;
  animation-duration: 25s;
}

.background img:nth-child(3) {
  top: 60%;
  left: 10%;
  animation-duration: 22s;
}

/* Keyframes to animate the photos moving */
@keyframes move {
  0% {
    transform: translateY(0px) translateX(0px) scale(1);
  }
  50% {
    transform: translateY(-50px) translateX(50px) scale(1.1);
  }
  100% {
    transform: translateY(0px) translateX(0px) scale(1);
  }
}

.credits {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  max-width: 300px;
  width: 100%;
  animation: fadeInUp 0.6s ease-out;
}

@keyframes fadeInUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Container for Back Icon */
.back-icon-container {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Style the Back arrow*/
.back-arrow {
  font-size: 25px; /* This should increase the size of the icon */
  cursor: pointer;
  color: #6c757d;
  transition: color 0.3s ease;
}

.back-arrow:hover {
  color: #5a6268;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #333;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 18px;
  color: #555;
  margin: 15px 0;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

li:hover {
  color: orange;
  transform: scale(1.05);
}

li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
